<pre><font size="+2">
<b>Emilie</b>

HP 6	DEF 1	SPD 7
SP 8	RES 0	EVA 4

<u><b>Dashing In</b></u>
When Emilie is switched in,
She gains [+3 SPD].

<b>Beatdown</b>
[ATK] Cost 2 SP
Two Enemies : [Impact 2]
Deals +1 damage if Emilie has [+3 SPD].

<b>Faucon Poing</b>
[ATK] Cost 4 SP
One Enemy : [Fire 5] <i>{20% Burn 3}</i>

<b>Amber Thrust</b>
[ATK] Cost 6 SP
All Enemies : [Electric 2] <i>[Paralysis 5]</i>
This Skill has -1 ACC.

<b>Azure Strike</b>
[ATK] Cost 4 SP
One Enemy : [Impact X]
X = (Emilie' SPD) - (Target's SPD)
</font></pre>