<h3>Characters<h3/>
    <form method="POST">
        <input type="submit" value="Chen" name="1"/>
        <input type="submit" value="Cirno" name="1"/>
        <input type="submit" value="Emilie" name="1"/>
        <input type="submit" value="Gaius" name="1"/>
        <input type="submit" value="Keine" name="1"/>
        <input type="submit" value="Kogasa" name="1"/>
        <input type="submit" value="Komachi" name="1"/>
        <input type="submit" value="Marisa" name="1"/>
        <input type="submit" value="Minoriko" name="1"/>
        <input type="submit" value="Momiji" name="1"/>
        <input type="submit" value="Nitori" name="1"/>
        <input type="submit" value="Olberic" name="1"/>
        <input type="submit" value="Ophilia" name="1"/>
        <input type="submit" value="Parsee" name="1"/>
        <input type="submit" value="Reimu" name="1"/>
        <input type="submit" value="Rinnosuke" name="1"/>
        <input type="submit" value="Rumia" name="1"/>
        <input type="submit" value="Stahl" name="1"/>
        <input type="submit" value="Sully" name="1"/>
        <input type="submit" value="Therion" name="1"/>
        <input type="submit" value="Vaike" name="1"/>
        <input type="submit" value="Will" name="1"/>
        <input type="submit" value="Wobuffet" name="1"/>
        <input type="submit" value="Youmu" name="1"/>
    </form>
    <br>
    <br>
<h3>Game<h3/>
    <form method="POST">
        <input type="submit" value="Start p1" name="1"/>
        <input type="submit" value="Start p2" name="1"/>
    </form>