<pre><font size="+2">
<b>Keine Kamishirasawa</b>

HP 6	DEF 3	SPD 4
SP 12	RES 2	EVA 1

<u><b>Organized Formation</b></u>
While Keine is in the front,
swapped Allies recover 2 SP.

<b>Ancient History - Old History</b>
[MAG] Cost 4 SP
All Enemies : [Dark 3]
This Skill's damage is reduced by
the opposite defensive stat.
This Skill has -1 ACC.

<b>New History - Next History</b>
[MAG] Cost 4 SP
All Enemies : [Spirit 3]
This Skill has -1 ACC.

<b>Three Treasures - Sword</b>
[SUP] Cost 3 SP
All Allies : [+1 ATK,MAG,SPD]

<b>Three Treasures - Mirror</b>
[SUP] Cost 3 SP
All Allies : [+1 DEF,RES,EVA]
</font></pre>