<pre><font size="+2">
<b>Kogasa Tatara</b>

HP 5	DEF 3	SPD 3
SP 8	RES 1	EVA 0

<u><b>Troubled Forgotten Item</b></u>
When Kogasa hits an enemy affected by Terror,
She recovers 8 SP and 5 HP.

<b>Karakasa Surprising Flash</b>
[ATK] Cost 3 SP
All Enemies: [Nature 2] <i>{40% Terror 2}</i>
This Skill has -1 ACC.

<b>A Rainy Night's Ghost Story</b>
[ATK] Cost 2 SP
One Enemy: [Dark 2] {70% -2 RES} <i>{70% Terror 3}</i>

<b>Drizzling Large Raindrops</b>
[ATK] Cost 2 SP
All Enemies: [Water 1]
This Skill has -1 ACC.

<b>Competent Blacksmith?</b>
[SUP] Cost 2 SP
One Ally : [+2 ATK,DEF]
</font></pre>