<pre><font size="+2">
<b>Marisa</b>

HP 3    DEF 0   SPD 7
SP 18   RES 1   EVA 3

<u><b>Magic Overflowing</b></u>
While this unit is in front,
all Mystic damage is increased by 1.

<b>Magic Missile</b>
[MAG] Cost 2 SP
Single Enemy: [Mystic 3]

<b>Asteroid Belt</b>
[MAG] Cost 4 SP
All Enemies: [Astral 3]
This Skill has -1 ACC.

<b>Concentration</b>
[SUP] Cost 3 SP
Self: [+3 SP] Recover 6 SP.

<b>Master Spark</b>
[MAG] Cost X SP
All Enemies: [Mystic Y]
This Skill has -1 ACC.
X = Marisa's current SP.
Y = X - 3
</font></pre>