<pre><font size="+2">
<b>Minoriko</b>

HP 7	DEF 0	SPD 6
SP 12	RES 4 	EVA 1

<b>Rapid Charge</b>
When Minoriko rallies, recover 4 SP.
When Minoriko recovers SP in the back, the amount is doubled.

<b>Autumn Sky</b>
[MAG] Cost 2 SP
One Enemy: [2 Nature]
Minoriko gains [+2 SPD].

<b>Warm Color Harvest</b>
[MAG] Cost 6 SP
All Enemies: [X Nature]
X = RES.
This Skill has -1 ACC.

<b>Sweet Potato Room</b>
[SUP] Cost 3 SP
One Ally: Recover 6 HP.

<b>Owotoshi Harvester</b>
[SUP] Cost 3 SP
One Ally: [+2 DEF, RES].
</font></pre>