<pre><font size="+2">
<b>Nitori</b>

HP 5	DEF 1	SPD 5
SP 10	RES 1	EVA 2

<u><b>Optical Camouflage Suit</b></u>
At the end of Nitori's turn,
gain [Invisible 1].

<b>Kappa's Illusionary Waterfall</b>
[ATK] Cost 2 SP
All Enemies: [Water 1] {50% -2 DEF}
This Skill has -1 ACC.

<b>Exteeeending Aaaaarm</b>
[ATK] Cost 2 SP
All Enemies: [Nature 2]
This Skill has -2 ACC.

<b>Super Scope 3D</b>
[ATK] Cost 8 SP
One Enemy: [Pierce 10]
This Skill has Scope.

<b>Portable Versatile Machine</b>
[SUP] Cost 2 SP
Self: [+1 ATK,DEF,RES,SPD]
</font></pre>