<pre><font size="+2">
<b>Parsee Mizuhashi</b>

HP 4	DEF 2	SPD 5
SP 7	RES 4	EVA 2

<u><b>Flames of Jealousy</b></u>
When Parsee is in front,
All Dark damage is increased by 1.

<b>Large Box and Small Box</b>
[ATK] Cost 3 SP
One Enemy: [Impact 2] {20% 3*damage}

<b>Midnight Anathema Ritual</b>
[ATK] Cost 1 SP
One Enemy: [Dark 0] <i>{50% Terror 4, Silence 2}</i>

<b>Grudge Returning</b>
[ATK] Cost 2 SP
All Enemies: [Dark 0] <i>[Terror 2]</i>
This Skill has -1 ACC.

<b>Jealousy of the Kind and Lovely</b>
[ATK] Cost 4 SP
All Enemies: [Dark 7]
Only hits targets with <i>Terror</i>. Removes <i>Terror</i> on hit.
This Skill has -1 ACC.
</font></pre>