<pre><font size="+2">
<b>Therion</b>

HP 8	DEF 1	SPD 7
SP 10	RES 1	EVA 3

<u><b>Snatch</b></u>
Enemies damaged by Therion's skills lose 1 SP.
Therion's SP may go above his MAX SP.

<b>Steal SP</b>
[ATK] Cost 2 SP
One Enemy : [Blade 3]
Self: Recover X SP.
X = damage dealt * 2

<b>Wildfire</b>
[MAG] Cost 4 SP
One Enemy : [Fire 5]

<b>Share SP</b>
[SUP] Cost X SP
One Ally : [+X SP]
X may be any positive number.

<b>Aeber's Reckoning</b>
[ATK] Cost 15 SP
All Enemies : [X Blade]
X = Therion's SPD * 2
This Skill has -1 ACC.
</font></pre>