<pre><font size="+2">
<b>Vaike</b>

HP 14	DEF 1	SPD 5
SP 10	RES 0	EVA 1

<u><b>Slightly Forgetful</b></u>
If Vaike is in front during Round 1, he gains <i>[Weaken 1, Disable 1]</i>.
If Vaike is swapped, he gains <i>[Weaken 1, Disable 1]</i>.

<b>Teach's Lesson</b>
[SUP] Cost 2 SP
One Ally : [+4 ATK] [-3 SPD]

<b>"Here Comes The Vaike!"</b>
[ATK] Cost 5 SP
Two Enemies : [Impact 5 + X]
X = [5 - Vaike's SPD]

<b>Tomahawk</b>
[ATK] Cost 3 SP
One Enemy : [Impact 4]
This Skill has <i>Scope</i> and -2 ACC.
</font></pre>