<pre><font size="+2">
<b>Will Treaty</b>

HP 7	DEF 1	SPD 7
SP 8	RES 0	EVA 3

<u><b>Unseen Movement</b></u>
When Will is swapped,
gain <i>[Crit 3]</i>.

<b>Expert Shot</b>
[ATK] Cost 4 SP
One Enemy : [Pierce 3]
This skill has <i>Precision</i>.

<b>Unexpected Strategy</b>
[SUP] Cost 4 SP
All Enemies : [-2 DEF,RES]

<b>Double Knife Defense</b>
[SUP] Cost 1 SP
One Enemy : [Blade 1]
Self : [+2 DEF]

<b>Hit-and-Run Tactics</b>
[SUP] Cost 3 SP
One Enemy : <i>[Terror 2]</i>
Swap an ally Tug.
</font></pre>