<pre><font size="+2">
<b>Youmu</b>

HP 6	DEF 3	SPD 4
SP 12	RES 1	EVA 1

<u><b>Phantom Half</b></u>
While Youmu is at full health,
her skills deal +3 damage.

<b>Intense Concentration</b>
When Youmu rallies,
gain [+1 DEF,RES] and [+2 EVA].

<b>Present Life Slash</b>
[ATK] Cost 4 SP
One Enemy : [3 Blade]
This skill has <i>Scope</i> and +4 ACC.

<b>Slash of Eternity</b>
[ATK] Cost 8 SP
One Enemy : [12 Blade]
Self : [-1 SPD,DEF]
This Skill has +2 ACC.

<b>Divine Slash of Karmic Wind</b>
[ATK] Cost 11 SP
All Enemies: [10 Wind]
Self : [-2 SPD,DEF]
This Skill has +1 ACC.

<b>Slash Clearing the Six Senses</b>
[ATK] Cost 7 SP
All Enemies : [Nature 5]
Self : <i>[Cure 1]</i>
This Skill has -1 ACC.
</font></pre>